.container {
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.td {
    border: 1px solid #000;
    width: 70px;
    height: 100px;
}